/* Write the CSS for you answer here */

.container{
    position: relative;
    width: 700px;
    height: 541px;
    margin: 0 auto;
}
.ball{
    position: absolute;
    width: 45px;
    transition: width 0.8s ease;
    z-index: 2;
}

.ball:hover{
    width: 53px;
}

#landscape {
    position:absolute;
    z-index: -3;
}

#pohutukawa{

    position:absolute;
    width: 700px;
    top: 120px;
    z-index: 1;
    pointer-events: none;
}

#red{
    top: 320px;
    left: 60px;
}

#darkblue{
    top: 300px;
    left: 340px;
}

#orange{
    top: 280px;
    left: 620px;
}

#green{
    top: 200px;
    left: 450px;
}

#blue{
    top: 220px;
    left: 180px;
}

#pink{
    top: 350px;
    left: 460px;
    z-index: 0;
}
