/* Write the CSS for you answer here */

.container {
    position: relative;
    width: 700px;
    height: 541px;
    margin: 0 auto;
}

.ball {
    position: absolute;
    width: 45px;
    transition: width 0.8s ease;
    z-index: 2;
}

#landscape {
    position: absolute;
    z-index: -3;
}

#pohutukawa {

    position: absolute;
    width: 700px;
    top: 120px;
    z-index: 1;
    pointer-events: none;
}

#red {
    top: 320px;
    left: 60px;
    /*animation-name: fallred;*/
    /*animation-duration: 2s;*/
    /*-webkit-animation-fill-mode: forwards;*/
    /*-moz-animation-fill-mode: forwards;*/
    /*-o-animation-fill-mode: forwards;*/
    /*animation-fill-mode: forwards;*/
}

#darkblue {
    top: 300px;
    left: 340px;
    /*animation-name: falldarkblue;*/
    /*animation-duration: 2s;*/
    /*-webkit-animation-fill-mode: forwards;*/
    /*-moz-animation-fill-mode: forwards;*/
    /*-o-animation-fill-mode: forwards;*/
    /*animation-fill-mode: forwards;*/
}

#orange {
    top: 280px;
    left: 620px;
    /*animation-name: fallorange;*/
    /*animation-duration: 2s;*/
    /*-webkit-animation-fill-mode: forwards;*/
    /*-moz-animation-fill-mode: forwards;*/
    /*-o-animation-fill-mode: forwards;*/
    /*animation-fill-mode: forwards;*/
}

#green {
    top: 200px;
    left: 450px;
    /*animation-name: fallgreen;*/
    /*animation-duration: 1.5s;*/
    /*-webkit-animation-fill-mode: forwards;*/
    /*-moz-animation-fill-mode: forwards;*/
    /*-o-animation-fill-mode: forwards;*/
    /*animation-fill-mode: forwards;*/
}

#blue {
    top: 220px;
    left: 180px;
    /*animation-name: fallblue;*/
    /*animation-duration: 1.5s;*/
    /*-webkit-animation-fill-mode: forwards;*/
    /*-moz-animation-fill-mode: forwards;*/
    /*-o-animation-fill-mode: forwards;*/
    /*animation-fill-mode: forwards;*/
}

#pink {
    top: 350px;
    left: 460px;
    z-index: 0;
}

@keyframes fallred {
    from {
        margin-top: 20px;
    }
    20% {
        margin-top: 100px;
    }
    40% {
        margin-top: 50px;
    }
    60% {
        margin-top: 100px;
    }
    80%{
        margin-top:50px;
    }
    100% {
        margin-top: 100px;
    }
}

@keyframes falldarkblue {
    from {
        margin-top: 20px;
    }
    20% {
        margin-top: 120px;
    }
    40% {
        margin-top: 50px;
    }
    60% {
        margin-top: 120px;
    }
    80%{
        margin-top: 50px;
    }
    100% {
        margin-top: 120px;
    }
}

@keyframes fallorange {
    from {
        margin-top: 20px;
    }
    20% {
        margin-top: 140px;
    }
    40% {
        margin-top: 50px;
    }
    60% {
        margin-top: 140px;
    }
    80%{
        margin-top: 50px;
    }
    100% {
        margin-top: 140px;
    }
}

@keyframes fallgreen {
    from {
        margin-top: 20px;
    }
    20% {
        margin-top: 220px;
    }
    40% {
        margin-top: 130px;
    }
    60% {
        margin-top: 220px;
    }
    80% {
        margin-top: 130px;
    }
    100% {
        margin-top: 220px;
    }
}

@keyframes fallblue {
    from {
        margin-top: 20px;
    }
    20% {
        margin-top: 200px;
    }
    40% {
        margin-top: 130px;
    }
    60% {
        margin-top: 200px;
    }
    80% {
        margin-top: 130px;
    }
    100% {
        margin-top: 200px;
    }
}

#blue:hover {
    animation-name: fallblueout;
    animation-duration: 2s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.container:hover .ball{
    animation-name: fallblueout;
    animation-duration: 2s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.container:not(:hover) .ball{
    animation-name: fallbluein;
    animation-duration: 2s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes fallblueout {
    from {
        margin-top: 120px;
    }
    to{
        margin-top: 20px;
    }
}

@keyframes fallbluein {
    20% {
        top: 450px;
    }
    40%{
        top: 400px;
    }
    60%{
        top: 450px;
    }
    80%{
        top: 400px;
    }
    100%{
        top: 450px;
    }
}


