/* Write the CSS for you answer here */

.container{
    position: relative;
    width: 700px;
    height: 541px;
    margin: 0 auto;
}
#landscape {
    position:absolute;
    z-index: -3;
}

#pohutukawa{
    position:absolute;
    width: 700px;
    top: 120px;
    z-index: -1;
}

#red{
    position: relative;
    top: 320px;
    left: 60px;
}

#darkblue{
    position: relative;
    top: 300px;
    left: 180px;
}

#orange{
    position: relative;
    top: 280px;
    left: 300px;
}

#green{
    position: relative;
    top: 220px;
    left: 180px;
}

#blue{
    position: relative;
    top: 200px;
    left: 180px;
}

#pink{
    position: relative;
    top: 350px;
    left: 260px;
    z-index: -2;
}